button {
  background-color: #f87424;
  padding: 20px 85px;
  border-radius: 30px;
  outline: none;
  border: none;
  cursor: pointer;
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 18.75px;
  text-align: center;
}
