<div class="container">
  <div class="left-side-container">
    <div>
      <img src="/assets/svg/logo.svg" alt="" height="32" width="131" />
    </div>
    <p class="description">{{ "login_welcome" | translate }}</p>
  </div>
  <div class="right-side-container">
    <div class="language-toggle-container">
      @for (lang of supportedLanguages; track lang.id; let last = $last) {
      <span (click)="setLanguage(lang)">{{ lang.value }}</span>
      @if (!last) {
      <span> | </span>
      } }
    </div>

    <div class="login" [formGroup]="loginForm">
      <p class="login-title"></p>
      <div class="login-form-container">
        <div class="phone-number-inputs-container">
          <div class="country-code-input-container input-container">
            <label for="code">{{ "select_code" | translate }}</label>
            <div class="selected" id="code">
              <span>{{ loginForm.get("code")?.value }}</span>
              <img
                class="country-code-dropdown-toggle"
                (click)="openCountryCodeDropdown()"
                src="/assets/svg/dropdown.svg"
                alt=""
                height="26"
                width="26"
              />
            </div>
          </div>
          <div class="phone-number-input-container input-container">
            <label for="number">{{ "mobile_number" | translate }}</label>
            <input type="number" id="number" formControlName="phone" />
            @if(loginForm.get('phone')?.getError('invalidPhoneNumber')) {
            <span class="input-error-msg">{{
              loginForm.get("phone")?.getError("invalidPhoneNumber")
            }}</span>
            } @if(loginForm.get('phone')?.getError('minlength')) {
            <span class="input-error-msg"
              >Minimum length is {{ phoneNumberMinLength }}</span
            >
            }
          </div>
        </div>

        @if(showPassword()) {
        <div class="input-container password-input-container">
          <label for="password">Enter Password *</label>
          <input
            id="password"
            [type]="showPasswordAsText ? 'text' : 'password'"
            formControlName="password"
          />
          <img
            (click)="passwordInputType()"
            class="input-icon"
            src="/assets/svg/ic_eye_hide.svg"
            alt=""
          />
        </div>
        } @if(showCountryCodes) {
        <div class="country-code-dropdown-container">
          <span class="close-dropdown-toggle" (click)="closeDropdown()">
            <img src="/assets/svg/close_button.svg" alt="X"
          /></span>
          @for (code of countryCodes$ | async; track code.countryCode) {
          <div class="country-code" (click)="selectCountryCode(code)">
            <span class="code"><b>+</b>{{ code.countryCode }}</span>
            <span class="country-name">{{ code.countryName }}</span>
          </div>
          }
        </div>
        }
      </div>

      <div class="button-container">
        @if(showPassword()) {
        <app-button [buttonText]="'Login'" (click)="login()"></app-button>
        } @else {
        <app-button [buttonText]="'Next'" (click)="checkPhone()"></app-button>
        }
      </div>
    </div>
  </div>
</div>
