<app-header></app-header>
<div class="container">
  <!-- <div class="breadcrumb">Breadcrumb2</div> -->
  @if(result$ | async; as result) {
  <div class="content">
    <div class="content-title">
      <h3>{{ "dashboard_title" | translate }}</h3>
    </div>
    <div class="dashboard-search">
      <app-search></app-search>
    </div>
    <div class="content-section">
      @for(item of result.bankAccounts ;track item) {
      <div class="content-section-item">
        <div class="card-icon">
          <img src="/assets/svg/card.svg" width="88" height="54" alt="" />
        </div>
        <div class="flex">
          <span class="value">{{ "account_type" | translate }}</span>
          <span class="key truncated-text">{{ item.accountType }}</span>
        </div>

        <div class="flex">
          <span class="value">{{ "account_number" | translate }}</span>
          <div class="hidden-value">
            <input class="key" type="password" #accNumber />
            <div class="eye-icon" (click)="changeInputType(accNumber)">
              <img
                src="/assets/svg/ic_eye_hide.svg"
                height="18"
                width="18"
                alt=""
              />
            </div>
          </div>
        </div>
        <div class="flex">
          <span class="value">{{ "currency" | translate }}</span>
          <span class="key">{{ item.currency }}</span>
        </div>

        <div class="flex">
          <span class="value">{{ "balance" | translate }}</span>
          <div class="hidden-value">
            <input class="key" type="password" #balanceInput />
            <div class="eye-icon" (click)="changeInputType(balanceInput)">
              <img
                src="/assets/svg/ic_eye_hide.svg"
                height="18"
                width="18"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
  @if(result.additionalData; as additionalData) {
  <div class="additional-content">
    <div class="additional-content-title">
      <span>{{ "additional_info" | translate }}</span>
    </div>
    <div class="additional-content-body">
      <span>{{ additionalData.description }}</span>
    </div>
  </div>
  } }
</div>
